future
emoji
lxml
wget
gtts
beautifulsoup4
requests
python-telegram-bot==13.11.0
SQLAlchemy==1.4.31
psycopg2-binary
feedparser
faker
hachoir
pykeyboard
aiogram
httpx
git+https://github.com/Awesome-RJ/GoGoAnimeAPI.git
h2
pynewtonmath
python-rapidjson==1.6
py-Ultroid==2022.2.10
pytimeparse
aiofiles
pyaztro
faker
rapidjson
ffmpeg-python
spongemock
zalgo-text
geopy
nltk
psutil
html_telegraph_poster
aiohttp
Pillow
CurrencyConverter
googletrans
cloudmersive_virus_api_client
google-trans-new
jikanpy
speedtest-cli
coffeehouse
pornhub_api
regex
bleach
wikipedia
pythonping
markdown2
markdown
hurry-filesize
telethon
telethon-session-sqlalchemy
telethon-tgcrypto
pycrypto
pyYAML>=5.1.2
telegraph
heroku3
spamwatch
alphabet_detector
pyrate-limiter
cachetools
ujson
pretty_errors
pygithub
TgCrypto
Pyrogram
PyDictionary
yt-dlp
youtube_search_python
youtube_search
lyrics_extractor
asyncio
cloudscraper
dateparser
pymongo
dnspython
secureme
apscheduler
emoji-country-flag
countryinfo
html2text
bs4
redis
hiredis==2.0.0
aioredis==2.0.1
pySmartDL
bing_image_downloader
search_engine_parser
pytz
pyjokes
jikanpy
tswift
python-arq
base58
envparse
#profanity (Credits to Julia)
better_profanity
textblob 
nudepy
nekos.py
motor
gpytranslate
fontTools
opencv-python-headless
odmantic
tzlocal
pendulum
fuzzysearch
img2pdf
multicolorcaptcha
git+https://github.com/python-telegram-bot/ptbcontrib.git
pretty_errors
requests_html
ShazamAPI
html-telegraph-poster
qrcode
